:root {
    --transition: 0.3s;
  }
  
  
  .screen1_container{
      max-width: 450px;
      position: relative;
      overflow: hidden;
      background-color: white;
      
  }
  .screen1_menu_container{
      
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #212d3b;
      color: white;
      padding: 0 10px;
      z-index: 10000;
  }
  .screen1_menu_btn{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      cursor: pointer;
      transition: all var(--transition) ease-in-out;
      z-index: 9999999;
  }
  .screen1_menu_hamburger{
      width: 20px;
      height: 2px;
      background-color: white;
      border-radius: 5px;
      z-index: 10;
      transition: all var(--transition) ease;
  }
  
  .screen1_menu_hamburger::before,
  .screen1_menu_hamburger::after{
      content: '';
      position: absolute;
      width: 20px;
      height: 2px;
      background: white;
      border-radius: 5px;
      transition: all var(--transition) ease;
  }
  .screen1_menu_hamburger::before{
      transform: translateY(-6px);
  }
  .screen1_menu_hamburger::after{
      transform: translateY(6px);
  }
  .screen1_menu_items{
      background:  #212d3b;
      color: white;
      position: absolute;
      left: 100%;
      height: 100%;
      /* width: 80%;  */
      width: 15%;
      padding-top: 70px;
      top: 0;
      transition: all var(--transition) ease-in-out;
  }
  .screen1_menu_items li{
      padding: 20 0;
      text-align: left;
      transition: all var(--transition) ease; 
      list-style-type: none;
  }
  .screen1_menu_items li:hover{
      letter-spacing: 2px;
      opacity: .6;
  }
  
  /* animation */
  .screen1_menu_btn input:checked ~.screen1_menu_hamburger{
      transform: translateX(-50px);
      background: transparent;
  }
  .screen1_menu_btn input:checked ~.screen1_menu_hamburger::before{
      transform: rotate(45deg) translate(35px, -35px);
  }
  .screen1_menu_btn input:checked ~.screen1_menu_hamburger::after{
      transform: rotate(-45deg) translate(35px, 35px);
  }
  .screen1_menu_btn input:checked ~.screen1_menu_items{
    /* Вот это меняем */
      left: 80%;
  }
  .screen1_menu_btn input{
      display: none;
  }
  .page_content{
      text-align: center;
      margin-top: 3em;
  }
  .page_content h3{
      padding-bottom: 10px;
  }
  
  
  









body {
    background-color: #0e1621;
    font-family: "Helvetica Neue";
    font-size: 20px;
    font-weight: normal;
  }


  .message_section {
    background-color: #0e1621;
    max-width: 450px;
    /* margin: 10px auto; */
    padding-top: 20px;
  }

  .message_section div {
    max-width: 255px;
    word-wrap: break-word;
    margin-bottom: 5px;
    line-height: 24px;
  }
  
  .clear {
    clear: both;
  }
  
  .me {
    position: relative;
    padding: 0px 20px;
    color: white;
    background: #2b5278;
    border-radius: 25px;
    float: right;
  }

  .me-date {
    font-size: 15px;
    position: relative;
    padding:0px 20px;
    color: white;
    border-radius: 25px;
    float: right;
  }

  .companion {
    position: relative;
    padding: 0px 20px;
    background: #182533;
    border-radius: 25px;
    color: white;
    float: left;
  }

  .companion-date {
    font-size: 15px;
    position: relative;
    padding:0px 20px;
    color: white;
    border-radius: 25px;
    float: left;
  }

